<div class="modal image-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-image contain-bg" bg-img="{{Modal.modal.image}}" set-max-width="true"></div>
	</div>
	<button type="button" class="btn btn-clear close-btn icon-close" ng-click="$hide()"><!--i class="icon-close"></i--></button>
	<div class="modal-footer">
		<div class="text text-overflow"><a ng-href="{{Modal.modal.originalImage}}" target="_blank">{{Modal.modal.originalImage}}</a></div>
	</div>
</div>
