<ul>
	<li ng-if="authUser.routePermissions['login']">
		<a ng-class="{'active': $state.includes('login')}" ui-sref="login" translate>Login</a>
	</li>
	<li ng-if="authUser.routePermissions['users.profile']">
		<a ng-class="{'active': $state.includes('users.*')}" ui-sref="users.profile" translate>Users</a>
	</li>
	<li ng-if="authUser.routePermissions['contents.profile']" ng-repeat="contentType in Contents.types">
		<a ng-class="{'active': $state.includes('contents.*', {contentType: contentType.name})}" ui-sref="contents.profile({contentType: contentType.name, contentId: undefined})" translate>{{contentType.title}}</a>
	</li>
	<li ng-if="authUser.routePermissions['contents.profile']">
		<a ng-class="{'active': $state.includes('pageOrganization')}" ui-sref="pageOrganization" translate>Static page organization</a>
	</li>
	<li ng-if="authUser.routePermissions['categories.profile']">
		<a ng-class="{'active': $state.includes('categories.*', {categoryType: 'user'})}" ui-sref="categories.profile({categoryType: 'user', categoryId: undefined})" translate>Users categories</a>
	</li>
	<li ng-if="authUser.routePermissions['categories.profile']">
		<a ng-class="{'active': $state.includes('categories.*', {categoryType: 'news'})}" ui-sref="categories.profile({categoryType: 'news', categoryId: undefined})" translate>News categories</a>
	</li>
	<li ng-if="authUser.routePermissions['categories.profile']">
		<a ng-class="{'active': $state.includes('categories.*', {categoryType: 'faq'})}" ui-sref="categories.profile({categoryType: 'faq', categoryId: undefined})" translate>FAQ categories</a>
	</li>
	<li ng-if="authUser.routePermissions['forms.view']">
		<a ng-class="{'active': $state.includes('forms.*')}" ui-sref="forms.view" translate>Forms</a>
	</li>
</ul>
