<div id="menu" class="aside left" ng-click="menu.toggle(false)" ng-swipe-left="menu.hide()">
	<div class="title mb10">
		<span translate>Menu</span>
		<button type="button" class="close" ng-click="$hide()">×</button>
	</div>

	<ul ng-click="$hide()" ng-if="LeftList.use" class="visible-xxs">
		<li class="left-list-menu-item">
			<a ng-click="LeftList.toggle()" translate>{{LeftList.title}}</a>
		</li>
	</ul>

	<ng-include src="'views/components/mainMenuPart.html'" ng-click="$hide() || LeftList.hide()"></ng-include>

	<ul ng-click="$hide()">
		<li class="mt15">
			<a ng-click="Auth.logout()" translate>Logout</a>
		</li>
	</ul>
</div>
