<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>
			<div class="modal-body" ng-bind="content"></div>
			<div class="modal-footer" ng-if="!Modal.modal.hideCloseBtn || Modal.modal.buttons.length">
				<a class="btn btn-default" ng-click="$hide()" ng-if="!Modal.modal.hideCloseBtn" translate>{{button.closeBtnTitle || 'Cancel'}}</a>
				<a class="btn {{button.class}}" ng-repeat="button in Modal.modal.buttons" ng-bind="button.content" ng-click="$hide() || button.click(button.arg)"></a>
			</div>
		</div>
	</div>
</div>
