<table class="upload-queue-table" ng-class="{'uploading': queueOptions.uploader.isUploading}">
	<tr>
		<th>Name</th>
		<th ng-if="queueOptions.uploader.isHTML5">Size</th>
		<th ng-if="queueOptions.uploader.isHTML5">Progress</th>
		<th>Status</th>
		<th>Action</th>
	</tr>
	<tr ng-repeat="item in queueOptions.uploader.queue | orderBy:'-'">
		<td>
			<strong>{{item.file.name}}</strong>
			<div ng-if="queueOptions.uploader.isHTML5 && queueOptions.showThumb" thumb="{file: item._file, height: 60}"></div>
		</td>
		<td ng-if="queueOptions.uploader.isHTML5" nowrap>{{item.file.size/1024/1024|number:2}} MB</td>
		<td ng-if="queueOptions.uploader.isHTML5">
			<div class="pos-rel">
				<ins class="upload-progress">
					<span ng-style="{'width': item.progress + '%'}"></span>
				</ins>
			</div>
		</td>
		<td>
			<i ng-class="{'icon-done status-success': item.isSuccess, 'icon-block status-warning': item.isCancel, 'icon-close status-error': item.errors}"></i>
		</td>
		<td>
			<button type="button" class="btn btn-clear icon-delete" title="Delete" ng-click="removeFileFromQueue(item, $index)" ng-disabled="queueOptions.uploader.isUploading"></button>
		</td>
	</tr>
</table>
