<form name="categoriesForm" ng-submit="save()" class="page-categories">
	<div class="row">
		<div class="col-xs-12">
			<div class="info-card">
				<div class="card mini">
					<div class="actions with-options">
						<div class="pos-rel">
							<h1 class="title">{{input.name | emptySign}}</h1>
							<button type="button" ng-if="input.id && dropdown.categoryOptions.length" class="btn btn-clear icon-more-vert pull-right" bs-dropdown="dropdown.categoryOptions" placement="bottom-right"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div bs-collapse ng-model="collapsers.information" class="collapser" ng-class="{'collapsed': collapsers.information}">
				<h2 bs-collapse-toggle class="subheader collapse-toggle" translate>
					<span translate>Information</span><i class="collapse-icon icon-arrow-drop-down"></i>
				</h2>
				<div bs-collapse-target>
					<div m-input class="form-item" label="Category Name *">
						<input type="text" ng-model="input.name" ng-disabled="!userPermissions.edit" ng-required="!collapsers.information">
					</div>

					<div m-input class="form-item" max-height="140" label="Category Description">
						<textarea ng-model="input.description" ng-disabled="!userPermissions.edit"></textarea>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-6 col-md-12">
			<div bs-collapse ng-model="collapsers.settings" class="collapser" ng-class="{'collapsed': collapsers.settings}">
				<h2 bs-collapse-toggle class="subheader collapse-toggle" translate>
					<span translate>Settings</span><i class="collapse-icon icon-arrow-drop-down"></i>
				</h2>
				<div bs-collapse-target>
					<div m-input class="form-item" label="{{'Order' | translate}}">
						<input type="number" ng-min="0" ng-max="999999" maxlength="6" ng-model="input.order" ng-disabled="!userPermissions.edit">
					</div>

					<div class="options-field w-2btn">
						<span translate>Parent category</span>
						<s>
							<span ng-bind-html="input.parentCategoryStr | textLoaded | emptySign"></span>
						</s>
						<button type="button" class="btn btn-clear icon-close mr40i" ng-click="clearParentCategory()" title="Clear" ng-if="input.groupId"></button>
						<button type="button" class="btn btn-clear icon-mode-edit" ng-click="selectParentCategory()"></button>
					</div>

					<div class="options-field">
						<span translate>Private</span>
						<switch class="pull-right" sw-model="input.isPrivate" options="{'showLabels': false}" ng-disabled="!userPermissions.edit"></switch>
					</div>

					<div class="options-field">
						<span translate>Visible</span>
						<switch class="pull-right" sw-model="input.isVisible" options="{'showLabels': false}" ng-disabled="!userPermissions.edit"></switch>
					</div>
				</div>
			</div>
		</div>
	</div>

	<floating-action-btns></floating-action-btns>
	<ng-include src="'views/components/lastEdit.html'"></ng-include>
	<ng-include src="'views/components/actionBtns.html'" ng-if="userPermissions.edit || userPermissions.add"></ng-include>
</form>
