<form name="pageForm" ng-submit="save()" class="page-contents">
	<div class="row">
		<div class="col-xs-12">
			<div class="info-card" ng-if="!specificFields.featuredImage">
				<div class="card mini">
					<div class="actions with-options">
						<div class="pos-rel">
							<h1 class="title">{{input.title | emptySign}}</h1>
							<button type="button" ng-if="input.id && dropdown.contentOptions.length" class="btn btn-clear icon-more-vert pull-right" bs-dropdown="dropdown.contentOptions" placement="bottom-right"></button>
						</div>
					</div>
				</div>
			</div>

			<div class="image-card drop-area" nv-file-drop nv-file-over uploader="featuredImageUploader" ng-if="specificFields.featuredImage && module.contentType != 'call_to_action'">
				<label for="contentsImageInput" class="photo" bg-img="{{input.images.featuredImage.data.preview}}" default-image="images/no-logo.png" ng-click="Modal.imageModal(this, input.images.featuredImage.source) && $event.preventDefault()"></label>
				<div class="card">
					<div class="actions with-options">
						<div class="pos-rel">
							<label class="file-upload w-progress" ng-class="{'uploading': featuredImageUploader.queue.length && featuredImageUploader.isUploading, 'ishtml5': featuredImageUploader.isHTML5}">
								<span class="a upper">
									<span class="select-file-text" translate ng-if="userPermissions.edit">Change image</span>
									<ins class="upload-progress">
										<span ng-style="{'width': featuredImageUploader.queue[0].progress + '%'}"></span>
									</ins>
								</span>
								<input id="contentsImageInput" nv-file-select uploader="featuredImageUploader" type="file" ng-disabled="featuredImageUploader.queue.length && featuredImageUploader.isUploading" ng-if="userPermissions.edit">
							</label>
							<button type="button" ng-if="input.id && dropdown.contentOptions.length" class="btn btn-clear icon-more-vert pull-right" bs-dropdown="dropdown.contentOptions" placement="bottom-right"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="specificFields.featuredImage && module.contentType == 'call_to_action'">
		<div class="col-sm-4">
			<div class="image-card drop-area" nv-file-drop nv-file-over uploader="featuredImageUploader" ng-if="specificFields.featuredImage">
				<label for="contentsImageInput" class="photo" bg-img="{{input.images.featuredImage.data.preview}}" default-image="images/no-logo.png" ng-click="Modal.imageModal(this, input.images.featuredImage.source) && $event.preventDefault()"></label>
				<div class="card">
					<div class="actions with-options">
						<div class="pos-rel">
							<label class="file-upload w-progress" ng-class="{'uploading': featuredImageUploader.queue.length && featuredImageUploader.isUploading, 'ishtml5': featuredImageUploader.isHTML5}">
								<span class="a upper">
									<span class="select-file-text" translate ng-if="userPermissions.edit">Change image</span>
									<ins class="upload-progress">
										<span ng-style="{'width': featuredImageUploader.queue[0].progress + '%'}"></span>
									</ins>
								</span>
								<span>(728x90)</span>
								<input id="contentsImageInput" nv-file-select uploader="featuredImageUploader" type="file" ng-disabled="featuredImageUploader.queue.length && featuredImageUploader.isUploading" ng-if="userPermissions.edit">
							</label>
							<button type="button" ng-if="input.id && dropdown.contentOptions.length" class="btn btn-clear icon-more-vert pull-right" bs-dropdown="dropdown.contentOptions" placement="bottom-right"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="image-card drop-area" nv-file-drop nv-file-over uploader="featuredImageUploader2" ng-if="specificFields.featuredImage">
				<label for="contentsImageInput2" class="photo" bg-img="{{input.images.featuredImage2.data.preview}}" default-image="images/no-logo.png" ng-click="Modal.imageModal(this, input.images.featuredImage2.source) && $event.preventDefault()"></label>
				<div class="card">
					<div class="actions with-options">
						<div class="pos-rel">
							<label class="file-upload w-progress" ng-class="{'uploading': featuredImageUploader2.queue.length && featuredImageUploader2.isUploading, 'ishtml5': featuredImageUploader2.isHTML5}">
								<span class="a upper">
									<span class="select-file-text" translate ng-if="userPermissions.edit">Change image</span>
									<ins class="upload-progress">
										<span ng-style="{'width': featuredImageUploader2.queue[0].progress + '%'}"></span>
									</ins>
								</span>
								<span>(300x250)</span>
								<input id="contentsImageInput2" nv-file-select uploader="featuredImageUploader2" type="file" ng-disabled="featuredImageUploader2.queue.length && featuredImageUploader2.isUploading" ng-if="userPermissions.edit">
							</label>
							<button type="button" ng-if="input.id && dropdown.contentOptions.length" class="btn btn-clear icon-more-vert pull-right" bs-dropdown="dropdown.contentOptions" placement="bottom-right"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="image-card drop-area" nv-file-drop nv-file-over uploader="featuredImageUploader3" ng-if="specificFields.featuredImage">
				<label for="contentsImageInput3" class="photo" bg-img="{{input.images.featuredImage3.data.preview}}" default-image="images/no-logo.png" ng-click="Modal.imageModal(this, input.images.featuredImage3.source) && $event.preventDefault()"></label>
				<div class="card">
					<div class="actions with-options">
						<div class="pos-rel">
							<label class="file-upload w-progress" ng-class="{'uploading': featuredImageUploader3.queue.length && featuredImageUploader3.isUploading, 'ishtml5': featuredImageUploader3.isHTML5}">
								<span class="a upper">
									<span class="select-file-text" translate ng-if="userPermissions.edit">Change image</span>
									<ins class="upload-progress">
										<span ng-style="{'width': featuredImageUploader3.queue[0].progress + '%'}"></span>
									</ins>
								</span>
								<span>(160x600)</span>
								<input id="contentsImageInput3" nv-file-select uploader="featuredImageUploader3" type="file" ng-disabled="featuredImageUploader3.queue.length && featuredImageUploader3.isUploading" ng-if="userPermissions.edit">
							</label>
							<button type="button" ng-if="input.id && dropdown.contentOptions.length" class="btn btn-clear icon-more-vert pull-right" bs-dropdown="dropdown.contentOptions" placement="bottom-right"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-12" ng-if="input.images.featuredImage">
			<div m-input class="form-item" label="{{'Image Title' | translate}}">
				<input type="text" ng-model="input.images.featuredImage.title" ng-disabled="!userPermissions.edit">
			</div>
		</div>
		<div class="col-lg-6 col-md-12" ng-if="input.images.featuredImage">
			<div m-input class="form-item" label="{{'Image Alt Tag' | translate}}">
				<input type="text" ng-model="input.images.featuredImage.altTag" ng-disabled="!userPermissions.edit">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-item" ng-if="specificFields.content">
				<label>{{specificFields.content}} *</label>
				<div text-angular ng-model="input.wysiwygContent"></div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div bs-collapse ng-model="collapsers.information" class="collapser" ng-class="{'collapsed': collapsers.information}">
				<h2 bs-collapse-toggle class="subheader collapse-toggle" translate>
					<span translate>Information</span><i class="collapse-icon icon-arrow-drop-down"></i>
				</h2>
				<div bs-collapse-target>
					<div m-input class="form-item" label="{{specificFields.title || 'Title'}} *">
						<input type="text" ng-model="input.title" ng-disabled="!userPermissions.edit" ng-required="!collapsers.information">
					</div>

					<div m-input class="options-field w-btn" label="{{specificFields.slug}} *" ng-if="specificFields.slug">
						<input type="text" ng-model="input.slug" ng-disabled="!userPermissions.edit" ng-required="!collapsers.information">
						<button type="button" class="btn btn-clear icon-content-copy" title="{{'Generate slug from name' | translate}}" ng-click="input.slug = __.slug(input.title)"></button>
					</div>

					<div m-input class="form-item" max-height="140" label="{{specificFields.excerpt}}" ng-if="specificFields.excerpt">
						<textarea ng-model="input.excerpt" ng-disabled="!userPermissions.edit"></textarea>
					</div>

					<div m-input class="form-item" label="{{specificFields.byline}}" ng-if="specificFields.byline">
						<input type="text" ng-model="input.byline" ng-disabled="!userPermissions.edit">
					</div>

					<div m-input class="form-item" label="{{specificFields.tagline}}" ng-if="specificFields.tagline">
						<input type="text" ng-model="input.tagline" ng-disabled="!userPermissions.edit">
					</div>

					<div m-input class="form-item" label="{{specificFields.link}}" ng-if="specificFields.link">
						<input type="text" ng-model="input.link" ng-disabled="!userPermissions.edit">
					</div>

					<div ng-if="specificFields.galleryType">
						<div class="form-item" m-input label="Gallery type">
							<select ng-disabled="input.id && input.galleryType" ng-model="input.galleryType" ng-options="type.val as type.name for type in Contents.galleryTypes"></select>
						</div>

						<ng-include src="'views/components/relatedFiles.html'" ng-if="input.galleryType === 'image'" onload="relatedFilesConfig = {upload: 'Upload images', link: 'Add image from URL', linkFilter: 'i'}"></ng-include>
						<ng-include src="'views/components/relatedFiles.html'" ng-if="input.galleryType === 'video'" onload="relatedFilesConfig = {link: 'Youtube or Vimeo URL / embed code', linkFilter: 'v'}"></ng-include>
					</div>

					<div ng-if="specificFields.video">
						<ng-include src="'views/components/relatedFiles.html'" onload="relatedFilesConfig = {link: 'Youtube or Vimeo URL / embed code', linkFilter: 'v'}"></ng-include>
					</div>
				</div>
			</div>


			<div bs-collapse ng-model="collapsers.dates" class="collapser" ng-class="{'collapsed': collapsers.dates}">
				<h2 bs-collapse-toggle class="subheader collapse-toggle" translate>
					<span translate>Dates</span><i class="collapse-icon icon-arrow-drop-down"></i>
				</h2>
				<div bs-collapse-target>
					<div class="options-field w-btn">
						<span translate>Publish Date *</span>
						<s>{{input.publishDate | date | emptySign}}</s>
						<label class="btn btn-clear icon-mode-edit btn-datepicker" ng-if="userPermissions.edit">
							<input type="text" ng-model="input.publishDate" bs-datepicker>
						</label>
					</div>
					<div class="options-field w-btn">
						<span translate>Publish Time</span>
						<s>{{input.publishDate | date:'shortTime' | emptySign}}</s>
						<label class="btn btn-clear icon-mode-edit btn-datepicker" ng-if="userPermissions.edit && input.publishDate">
							<input type="text" ng-model="input.publishDate" bs-timepicker>
						</label>
					</div>

					<div class="options-field w-2btn">
						<span translate>Post Expires Date</span>
						<s>{{input.postExpires | date | emptySign}}</s>
						<button type="button" class="btn btn-clear icon-close mr40i" ng-click="input.postExpires = null" title="Unlimited" ng-if="input.postExpires"></button>
						<label class="btn btn-clear icon-mode-edit btn-datepicker" ng-if="userPermissions.edit">
							<input type="text" ng-model="input.postExpires" bs-datepicker>
						</label>
					</div>
					<div class="options-field w-btn">
						<span translate>Post Expires Time</span>
						<s>{{input.postExpires | date:'shortTime' | emptySign}}</s>
						<label class="btn btn-clear icon-mode-edit btn-datepicker" ng-if="userPermissions.edit && input.postExpires">
							<input type="text" ng-model="input.postExpires" bs-timepicker>
						</label>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-6 col-md-12">
			<div bs-collapse ng-model="collapsers.settings" class="collapser" ng-class="{'collapsed': collapsers.settings}">
				<h2 bs-collapse-toggle class="subheader collapse-toggle" translate>
					<span translate>Settings</span><i class="collapse-icon icon-arrow-drop-down"></i>
				</h2>
				<div bs-collapse-target>
					<div m-input class="form-item" label="{{specificFields.seoTitle}}" ng-if="specificFields.seoTitle">
						<input type="text" ng-model="input.seoTitle" ng-disabled="!userPermissions.edit">
					</div>

					<div m-input class="form-item" label="{{specificFields.seoDescription}}" ng-if="specificFields.seoDescription">
						<input type="text" ng-model="input.seoDescription" ng-disabled="!userPermissions.edit">
					</div>

					<div class="form-item" ng-if="specificFields.parentPage">
						<label style="display: block;">Parent Page</label>
						<select chosen allow-single-deselect="true" class="form-control" name="parentPage" ng-disabled="!userPermissions.edit" ng-model="input.parentPage" ng-options="item.id as item.title for item in LeftList.items"><option value=""></option></select>
					</div>

					<div class="options-field w-btn" ng-if="specificFields.categories">
						<span translate>{{specificFields.categories}} *</span>
						<s>
							<span ng-bind-html="input.categoriesStr | textLoaded | emptySign"></span>
						</s>
						<button type="button" class="btn btn-clear icon-mode-edit" ng-click="selectCategories()"></button>
					</div>

					<div class="options-field w-btn">
						<span translate>Subject Matters *</span>
						<s>
							<span ng-bind-html="input.subjectMattersStr | textLoaded | emptySign"></span>
						</s>
						<button type="button" class="btn btn-clear icon-mode-edit" ng-click="selectSubjectMatters()"></button>
					</div>

					<div class="options-field w-btn">
						<span translate>Audiences *</span>
						<s>
							<span ng-bind-html="input.audiencesStr | textLoaded | emptySign"></span>
						</s>
						<button type="button" class="btn btn-clear icon-mode-edit" ng-click="selectAudiences()"></button>
					</div>

					<div class="options-field w-btn">
						<span translate>Forms</span>
						<s>
							<span ng-bind-html="input.formsStr | textLoaded | emptySign"></span>
						</s>
						<button type="button" class="btn btn-clear icon-mode-edit" ng-click="selectForms()"></button>
					</div>

					<div class="form-item">
						<span translate>Tags</span>
						<tags-input ng-model="input.tags"
									add-from-autocomplete-only="false"
									spellcheck="true">
							<auto-complete source="Data.loadTags($query)"
											debounce-delay="500"
											load-on-empty="false">
							</auto-complete>
						</tags-input>
					</div>

					<div class="form-item" ng-if="module.contentType == 'static_page' || module.contentType == 'news'">
						<label style="display: block;">Related Content</label>
						<select chosen multiple max-selected-options="4" allow-single-deselect="true" class="form-control" ng-disabled="!userPermissions.edit" ng-model="input.relatedContent" ng-options="item.id as item.title for item in LeftList.items"><option value=""></option></select>
					</div>
					
					<div m-input class="form-item" label="{{'Order' | translate}}">
						<input type="number" ng-min="0" ng-max="999999" maxlength="6" ng-model="input.order" ng-disabled="!userPermissions.edit">
					</div>

					<div class="options-field">
						<span translate>Featured</span>
						<switch class="pull-right" sw-model="input.isFeatured" options="{'showLabels': false}" ng-disabled="!userPermissions.edit"></switch>
					</div>

					<div class="options-field">
						<span translate>Private</span>
						<switch class="pull-right" sw-model="input.isPrivate" options="{'showLabels': false}" ng-disabled="!userPermissions.edit"></switch>
					</div>

					<div class="options-field">
						<span translate>Visible</span>
						<switch class="pull-right" sw-model="input.isVisible" options="{'showLabels': false}" ng-disabled="!userPermissions.edit"></switch>
					</div>

					<div class="options-field" ng-if="module.contentType == 'static_page' || module.contentType == 'news'">
						<span translate>Members Only</span>
						<switch class="pull-right" sw-model="input.isMembersOnly" options="{'showLabels': false}" ng-disabled="!userPermissions.edit"></switch>
					</div>

				</div>
			</div>

			<div bs-collapse ng-model="collapsers.relatedFiles" class="collapser" ng-class="{'collapsed': collapsers.relatedFiles}" ng-if="specificFields.relatedFiles">
				<h2 bs-collapse-toggle class="subheader collapse-toggle" translate>
					<span>{{specificFields.relatedFiles.title}}</span><i class="collapse-icon icon-arrow-drop-down"></i>
				</h2>
				<div bs-collapse-target>
					<ng-include src="'views/components/relatedFiles.html'" ng-if="userPermissions.edit" onload="relatedFilesConfig = specificFields.relatedFiles"></ng-include>
				</div>
			</div>

			<div bs-collapse class="collapser" ng-if="module.contentType == 'news'">
				<h2 bs-collapse-toggle class="subheader collapse-toggle" translate>
					<span translate>Author <i class="collapse-icon icon-arrow-drop-down"></i></span>
				</h2>
				<div bs-collapse-target>
					<div m-input class="form-item" label="Author">
						<select class="form-control" ng-model="input.author" ng-options="item.id as item.name for item in users"><option value=""></option></select>
					</div>
				</div>
			</div>

			<div bs-collapse ng-model="collapsers.revisions" class="collapser" ng-class="{'collapsed': collapsers.revisions}" ng-if="input.id">
				<h2 bs-collapse-toggle class="subheader collapse-toggle" translate>
					<span translate>Revisions</span><i class="collapse-icon icon-arrow-drop-down"></i>
				</h2>
				<div bs-collapse-target>
					<div ng-if="!revisions" class="text-center h4"><i class="icon-loading spin"></i><span class="ml5">loading...</span></div>
					<div ng-if="revisions && !revisions.length" class="text-center h4">There are no revisions</div>
					<div ng-repeat="revision in revisions" class="options-field w-btn">
						<span>{{revision.created | date:'medium'}}</span>
						<s>Revision number: {{revision.revisionNumber}}</s>
						<button type="button" class="btn btn-clear icon-restore" ng-click="revert(revision.revisionNumber)" title="Revert"></button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<floating-action-btns></floating-action-btns>
	<ng-include src="'views/components/lastEdit.html'"></ng-include>
	<ng-include src="'views/components/actionBtns.html'" ng-if="userPermissions.edit || userPermissions.add"></ng-include>
</form>
