<div class="page-login">
	<div class="text-center">
		<img src="images/logo-grey-op.png" class="logo">
	</div>

	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="loginForm" ng-submit="login()">
				<div m-input class="form-item" label="{{'Email' | translate}}">
					<input class="alt" type="email" ng-model="input.email" required>
				</div>

				<div m-input class="form-item" label="{{'Password' | translate}}">
					<input class="alt" type="password" ng-model="input.password" required>
				</div>

				<div class="btn-main-xs-cont">
					<button type="submit" class="btn btn-alt form-item btn-circle-xs btn-main-xs" ng-disabled="loginForm.$invalid">
						<span translate>Enter</span><i class="icon-lock-open"></i>
					</button>
				</div>

				<div>
					<a class="btn btn-light form-item" ui-sref="password.restore">
						<span translate>Forgot Password?</span>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
