<div class="list-content">
	<div class="filters-panel">
		<div class="pos-rel mb15 title" ng-click="RightList.hide()">
			<span class="pull-left">
				<i class="icon-arrow-back"></i>
				<span translate>{{RightList.title}}</span>:
			</span>
			<a class="icon-close pull-right"></a>
		</div>

		<div class="pos-rel">
			<div class="pos-rel input-icon-cont" ng-class="{'mr70': RightList.showAddBtn}">
				<input type="text" class="input" ng-model="RightList.filters.kw" placeholder="{{'Search' | translate}}">
				<i class="icon-search" ng-if="!RightList.filters.kw"></i>
				<a class="icon-close" ng-if="RightList.filters.kw" ng-click="RightList.filters.kw = ''"></a>
			</div>
			<div class="w70 add-btn-cont" ng-if="RightList.showAddBtn">
				<button type="button" class="btn btn-main btn-icon pull-right" ng-click="RightList.onAdd()"><i class="icon-add"></i></button>
			</div>
		</div>
	</div>

	<div isolated-scroll class="items" ng-class="{'wo-logo': !RightList.showLogo}">
		<ng-include src="'views/components/loader.html'"></ng-include>
		<ul ng-if="RightList.items.length">
			<ng-include src="'views/list/treeView.html'" onload="treeView = {listItems: RightList.items, treeLevel: 0}"></ng-include>
		</ul>
	</div>
</div>