<li ng-repeat="item in treeView.listItems | filter:RightList.filters.kwFunc as results" ng-class="{'active': RightList.selectable && item._selected}" style="margin-left: {{treeView.level * 20}}px;">
	<a ng-click="RightList.select(item, $index)" ng-class="{'btn2': RightList.selectable && RightList.editable}">
		<span ng-if="RightList.showLogo" class="img bg-cover" bg-img="{{::__.getObjVal(item, RightList.thumbFields)}}" broadcast="false" default-image="{{RightList.defaultLogo}}" hint=""></span>
		<span class="title text-overflow">
			<span ng-if="RightList.namePrefix" translate>{{RightList.namePrefix}}</span>
			<span ng-repeat="name in RightList.nameFields">
				{{__.getObjVal(item, name)}}&#32;
			</span>
			<span ng-if="RightList.namePostfix" translate>{{RightList.namePostfix}}</span>
		</span>
		<span class="actions">
			<i ng-if="RightList.editable" class="icon-mode-edit btn btn-clear btn-default contrast" ng-click="RightList.edit(item, index, $event)"></i>
			<i ng-if="RightList.selectable && !RightList.multiselect" ng-class="{'icon-radio-button-on active': item._selected, 'icon-radio-button-off': !item._selected, 'disabled': !RightList.changeable}"></i>
			<i ng-if="RightList.selectable && RightList.multiselect" ng-class="{'icon-check-box active': item._selected, 'icon-check-box-outline-blank': !item._selected, 'disabled': !RightList.changeable}"></i>
		</span>
	</a>
	
	<ng-include ng-if="RightList.treeView && item[RightList.treeNodeFieldName] && item[RightList.treeNodeFieldName].length" src="'views/list/treeView.html'" onload="treeView = {listItems: item[RightList.treeNodeFieldName], level: treeView.level + 1}"></ng-include>
</li>
